cdstoreproject/CatalogService/WebContent/wsdl/ProductCatalog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://catalogservice.cdstore.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://catalogservice.cdstore.com" xmlns:intf="http://catalogservice.cdstore.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://catalogservice.cdstore.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getproduct">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getproductResponse">
    <complexType>
     <sequence>
      <element name="getproductReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getproductRequest">

      <wsdl:part element="impl:getproduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getproductResponse">

      <wsdl:part element="impl:getproductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductCatalog">

      <wsdl:operation name="getproduct">

         <wsdl:input message="impl:getproductRequest" name="getproductRequest">

       </wsdl:input>

         <wsdl:output message="impl:getproductResponse" name="getproductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductCatalogSoapBinding" type="impl:ProductCatalog">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getproduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getproductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getproductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductCatalogService">

      <wsdl:port binding="impl:ProductCatalogSoapBinding" name="ProductCatalog">

         <wsdlsoap:address location="http://localhost:8080/CatalogService/services/ProductCatalog"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
